<!DOCTYPE html>
<html lang="en">

<head>
    <title>Apartrent | Trang Chủ</title>
    <link rel='shortcut icon' type='image/x-icon' href='/Assets/img/favicon.ico' />
    
</head>

<body>
    <%- include ("./header.ejs"); -%>

    <%- include ("./footer.ejs"); -%>

</body>

</html>