@font-face {
    font-family: OpenSans;
    src: url(/Contents/fonts/OpenSans/OpenSans-Regular.ttf);
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/Contents/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.mgleft220px{
    width: calc(100% - 200px);
}

.main_content{
    width: calc(100% - 200px ) !important;
    height: calc(100% - 64px) !important;
    min-height: 600px !important  ;
    margin-left: 200px !important;
    margin-top: 64px !important;
    /* background-image: url('../Image/ERP.png');  */
    background-repeat: no-repeat;
    background-position:center; 
    background-size:auto;

    padding-left: 3px;


}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    --webkit-font-feature-settings: 'liga';
    --webkit-font-smoothing: antialiased;
}

.developer{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 15px;
}

.btn{
    border-radius: 0px;
}

.sidebar-header{
    max-width: 100%; 
    min-height: 80px; 
    background-color: #f44336;
    background-size: 400px auto;
}

.mdl-layout__header{

    max-height: 50px; 
   
 
}
.form-control{
    border-radius: 0;
}

.form-control-sm{
    height: 30px;
}

.btn-light {
    background: #ced6dd;
}

.page-content {
    padding-top: 0 !important;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.pagination-area a {
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.paging-textbox {
    width: 90px;
    height: 30px;
    display: inline-block;
    text-align: center;
}

textarea {
    resize: vertical;
}

.div-destination .select2-container {
    width: 32.5% !important;
    padding: 0;
}

.div-travel .select2-container {
    width: 100% !important;
    padding: 0;
}

.select2-container--open {
    z-index: 99999;
}

.modal{
    font-family: "OpenSans";
}

.modal-header{
    padding: 1rem;
}

.modal-body{
    padding: 1rem;
}

.modal-footer{
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    margin-top: 0;
}

.modal-xlg {
    /* width: 1150px; */
    width: 95%;
}
.modal-full {
    width: 100%;
}

.modal-90-margin-top {
    width: 90%;
    margin: 50px auto;
}

.modal-100-margin-top {
    width: 100%;
    margin: 50px auto;
}

.modal-100-margin-top-1 {
    width: 100%;
    margin: 10px auto;
}

.mdl-tabs__tab-bar a {
    text-decoration: none;
}

.onscrollbar::-webkit-scrollbar {
    width: 0px;
    /* background-color: #7d7d80; */
}

.part-result {
    border-bottom: 1px dashed yellowgreen;
}

.part-result:hover {
    background: #7d7d80;
    cursor: pointer;
}

.search-image {
    margin: 10px 10px 10px 10px;
    object-fit: contain;
    border-radius: 5px;
    align-self: flex-start;
}

input[type="checkbox"]{
    cursor: pointer;
}

.table-scrollable {}

.sticky-thead {
    position: sticky;
    background: whitesmoke;
    top: 0;
    z-index: 10;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

.display-none{
    display: none;
}

.drop-file-box {
    display: block;
    border: 1px dashed #d9dedb;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: #676867;
}

.swal-button--confirm{
    background-color: #5cb85c;
}

.swal-button--confirm:not([disabled]):hover {
    background-color: #5cb85c;
}

@media (max-width: 575.98px) {
    .part-img {
        width: 100%;
    }
    /* .onscrollbar {
        height: 573px;
    } */

    .onscrollbar-user{
        height: 573px;
    }

    .onscrollbar-request{
        height: 320px;
    }

    .onscrollbar-machine{
        height: 390px;
    }

    .onscrollbar-import{
        height: 415px;
    }

    .input-sm-100{
        width: 100%;
    }

    .btn-position{
        margin-top: 10px;
        width: 99%;
    }
}

@media (min-width: 992px) {
    .part-img {
        width: 20%;
    }
    /* .onscrollbar {
        height: 573px;
    } */

    .onscrollbar-user{
        height: 540px;
    }

    .onscrollbar-request{
        height: 490px;
    }

    .onscrollbar-machine{
        height: 490px;
    }

    .onscrollbar-import{
        height: 415px;
    }

    .btn-position{
        margin-top: 24px;
    }
}