@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background-color: #ecf0f1;
  /* background-image: url(../images/plant.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 25px;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0;
}
.wc-title {
  padding-top: 20px;
  color: #34495e;
  text-shadow: 2px 2px #bdc3c7;
  text-align: center;
  margin: 0;
}

.wc-content {
  margin: 0 3vh;
}

.wc-content-zone {
  margin: 15px 0px;
}

.wc-content-title {
  height: 8.3vh;
  margin: 10px -5px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #fff;
  background: #8e44ad;
  font-size: 2vw;
  box-shadow: 4px 4px #7f8c8d;
}
.wc-content-edit {
  height: 8.3vh;
  margin: 10px -5px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #fff;
  background: #2980b9;
  font-size: 2vw;
  box-shadow: 4px 4px #7f8c8d;
}
.wc-content-edit:hover{
  color: #34495e;
  cursor: pointer;
  background-color: #297fb9d7;
}
.wc-content-line {
  height: 8.3vh;
  margin: 10px -5px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #2c3e50;
  border: 3px solid #16a085;
  background-color: #ecf0f1;
  font-size: 1.5vw;
  box-shadow: 4px 4px #7f8c8d;
}

.wc-content-line:hover {
  cursor: pointer;
  border: 3px solid #8e44ad!important;
  background-color: #c2cdce !important;
}
.note{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0;
  color: black;
}
.note-off{
  margin: 0 20px;
  color: #d0dad4;
}
.note-on{
  color: #2ecc71;
  text-align: center;
  margin: 0 20px;
}
.note-error{
  color: #e74c3c;
  text-align: center;
  margin: 0 20px;
}
.note-repair{
  color: #f1c40f;
  text-align: center;
  margin: 0 20px;
}
.note-empty{
  margin: 0 20px;
}

.line-modal {
  border-radius: 10px;
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #16a085;
  color: #fff;
}

.modal-title {
  font-size: .8em;
}
.modal-body {
  background: #ecf0f1;
}
.modal-body-run{
  background-color: #3498db;
  color:#fff;
}
.modal-body-id{
  background-color: #3498db;
  color:#fff;
}
.modal-body-check-clear {
  font-size: .8em;
  color: #2c3e50;
}